body {
    background-image: url("https://mcdn.wallpapersafari.com/medium/91/65/gI2wco.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-transform: capitalize;
}
#entireBox {
    border: 5px solid gold;
    
}
h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    border: 15px dotted gold;
    font-family: 'Monoton';
}
h4 {
    font-size: 2rem;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}
.brewData {
    display: flex;
    background-color: rgb(128, 128, 128);
    margin-right: 50px;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding: 20px;
    margin: 10px;
}
.brewData > * {
    justify-content: center;
}
.brewData h3 {
    /* background-color: gray; */
    padding: 5px;
    font-size: 30px;
    width: 100%;
}
.brewData ul {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}
li {
    /* display: inline; */
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    font-family: 'Oufit';
 
}
img {
    /* min-width: 6rem; */
}
.custom-modal {
    display: none;
}
