.control {
    display: block;
}

.brewData {
    flex-direction: column;
    /* width: 100%; */
    background-color: black;
    padding: 20px;
    margin: 10px;
    
}

.brewData h3 {
    background-color: gray;
    padding: 5px;
    font-size: 30px;
    width: 100%;

}

.brewData ul {
    background-color: red;
    padding: 10px;
    font-size: 20px;
    width: 100%;

}

