/* .welcomeSection {

} */
* {
    background-color: black;
    text-transform: capitalize;
}

.hero-body {
    background-color: black;
}

.figure {
    width: 100vw;
}
.brewTitle {
    display: flex;
    position: relative;
    top: -250px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    background-color: black;

}

.input {
    padding-top: 10px;
    height: 47px;
    margin-top: 1px;
}

